* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.paicontainer a {
    color: rgba(0, 0, 0, 0.767);
    padding: 5px 10px;
}

.redes a {
    color: rgba(0, 0, 0, 0.767);
    padding: 5px 10px;
}

.paicontainer a:hover {
    color: black;
}

.redes a:hover {
    color: black;
}

body {
    margin: 0;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(192, 240, 148));
}

.header {
    top: 0;
    background-color: rgba(238, 238, 238, 0.856);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 63%;
}

.conteudo {
    background-color: rgba(223, 223, 223, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2%;
    padding: 5px;
}

.icone {
    background-color: rgba(238, 238, 238, 0);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.icone:hover {
    background-color: #7e7e7e1c;
    border-radius: 10%;
}

.iconedireita {
    background-color: rgba(104, 253, 111, 0);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: max-content;
}

.inicioa {
    display: block;
    background-color: dodgerblue;
    border-radius: 10%;
    align-self: center;
    padding: 4%;
    color: white;
    font-size: 20px;
}

.iniciob {
    display: block;
    background-color: rgba(43, 198, 226, 0);
    color: black;
    align-self: center;
    padding: 4%;
    font-size: 20px;
}

.iniciob:hover {
    background-color: #88888852;
    border-radius: 10%;
}

.bannerpf {
    max-width: 85%;
    margin: 1%;
    border-radius: 1%;
}

.tamanhoimagem {
    width: 290px;
}

.tamanhoimagem2 {
    height: 80px;
    padding-top: 5%;
}

.quemsomosnos {
    font-size: 32px;
    text-align: center;
    color: #575757;
}

.redes {
    border: 1px solid red;
    margin-inline: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    border: 1px solid rgba(136, 255, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.subcontainer {
    margin-top: 20px;
    background-color: rgb(44, 44, 44);
    font-size: 22px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1%;
    justify-content: center;
}

.subcontainer a {
    color: white;
}

.subcontainer a:hover {
    color: rgba(255, 255, 255, 0.637);
}

.subcontainer:hover {
    box-shadow: 1px 1px 10px #888888;
}

.container2 {
    border: 1px solid rgba(4, 0, 255, 0);
    background-color: rgb(255, 255, 255);
    margin-inline: 100px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.subcontainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(127, 255, 212, 0);
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: #575757;
    max-width: 200px;
}

.paicontainer {
    background-color: rgb(245, 245, 245);
    margin-inline: 100px;
}