* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url(../Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 500;
}

a {
    text-decoration: none;
}

.paicontainer a {
    color: rgba(0, 0, 0, 0.767);
    padding: 5px 10px;
    transition: 0.3s;
}

.redes a {
    color: rgba(0, 0, 0, 0.767);
    padding: 5px 10px;
    transition: 0.3s;
}

.paicontainer a:hover {
    color: black;
}

.redes a:hover {
    color: black;
}

body {
    margin: 0;
    background-color: rgb(250, 255, 240);
}

.header {
    top: 0;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.conteudo {
    background-color: rgba(223, 223, 223, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2%;
    padding: 5px;
    font-family: montserrat;
}

.icone {
    background-color: rgba(238, 238, 238, 0);
    text-align: center;
    margin-left: 5%;
    transition: 0.3s;
}

.icone:hover {
    background-color: #7e7e7e1c;
    border-radius: 10%;
}

.iconedireita {
    background-color: rgba(104, 253, 111, 0);
    display: flex;
    flex-direction: row-reverse;
    width: max-content;
}

.inicioa {
    background-color: dodgerblue;
    border-radius: 6%;
    align-self: center;
    padding: 4%;
    color: white;
    font-size: 27px;
    transition: 0.3s;
}

.inicioa:hover {
    background-color: rgb(110, 183, 255);
    border-radius: 100px;
}

.iniciob {
    background-color: rgba(43, 198, 226, 0);
    color: black;
    align-self: center;
    padding: 4%;
    font-size: 27px;
    transition: 0.3s;
}

.iniciob:hover {
    background-color: #88888852;
    border-radius: 100px;
}

.bannerpf {
    box-shadow: 10px 4px 20px black;
    max-width: 100%;
    margin-inline: 0;
}

.categorias {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    border-top: 1px solid rgb(189, 189, 189);
    border-bottom: 1px solid rgb(189, 189, 189);
    text-align: center;
}

.categorias a {
    color: #575757;
    max-width: 20%;
    transition: 0.3s;
}

.categorias a:hover {
    color: black;
}

.categorias p {
    margin: 1%;
}

.tamanhoimagem {
    width: 290px;
}

.tamanhoimagem2 {
    height: 80px;
    padding-top: 5%;
}

.quemsomosnos {
    font-size: 32px;
    text-align: center;
    color: #575757;
    margin-bottom: 0;
}

.quemsomosnos p {
    color: rgb(0, 0, 0);
    font-family: montserrat;
    font-weight: bolder;
}

.redes {
    margin-inline: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: montserrat;
}

.redes a {
    cursor: pointer
}

.container {
    border: 1px solid rgba(136, 255, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin: 100px;
}

.container a {
    padding: 0;
}

.subcontainer {
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    font-size: 22px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1%;
    justify-content: center;
    box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.432);
    border-radius: 10px;
}

.subcontainer a {
    color: white;
    font-family: montserrat;
    font-weight: 300;
}

.subcontainer a:hover {
    color: rgb(255, 255, 255);
}

.subcontainer:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

.container2 {
    border: 1px solid rgba(4, 0, 255, 0);
    background-color: rgb(250, 255, 240);
    margin-inline: 100px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: montserrat;
}

.subcontainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(127, 255, 212, 0);
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: #575757;
    max-width: 200px;
}

.paicontainer {
    background-color: rgb(250, 255, 240);
    margin-inline: 100px;
    font-family: montserrat;
    padding-bottom: 1%;
}

i {
    padding-inline: 10px;
}

#terrariomain {
    background-color: (245, 245, 245);
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-inline: 10%;
    flex-flow: row wrap;
    gap: 40px 10px;
}